# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# IDEs / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Twine / PyPI
.pypirc
